@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";

* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  background-color: #f5f5f5;
  color: #213547;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: #4c90f0;
  text-decoration: inherit;
}

a:hover {
  color: #3a7ad6;
}
